.navbar {
  height: 40px;
}
.layout-body {
  height: calc(100vh - 88px);
  overflow-y: auto;
}
.wow-animate {
  animation: wow 0.5s;
}

.grow {
  transition: all 0.2s;
  transform: scale(1);
}
.grow:hover {
  transform: scale(1.1);
}

.grow-sm {
  transition: all 0.2s;
  transform: scale(1);
}
.grow-sm:hover {
  transform: scale(1.05);
}

@keyframes wow {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes appear {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}
/* FOR NAVBAR */

.large-menu-classname {
  display: flex;
}

.large-menu-classname div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding-left: 10px;
  padding-right: 10px;
  list-style: none;
  background: #1d4044;
  color: #ffffff;
}
.large-menu-classname div .logo {
  display: flex;
  align-items: center;
}
.large-menu-classname div .item {
  margin-right: 40px;
  background-color: transparent;
}

.large-menu-classname div .item .button {
  margin-right: 0px;
}

/* Elements */
.navBar li {
  padding: 10px 0;
}

/* Class */
.navBar {
  width: 100%;
  background-color: #1d4044;
  color: white;
  padding: 10px;
  display: flex;
  min-height: 70px;
  flex-direction: column;
  transition: all 0.4s !important;
  justify-content: center;
  align-items: center;
}

.navBar .links {
  height: 0;
  overflow: hidden;
  list-style-type: none;
  font-weight: bold;
}

.navBar .show-nav {
  height: auto;
  transition: all 0.3s;
  width: 100%;
  display: flex;
  padding-left: 30px;
  flex-direction: column;
  align-items: flex-start;
  animation: appear 0.4s;
}
.no-links {
  display: none;
}
.opts-large {
  display: none !important;
  transition: all 0.3s;
}

.message {
  color: white;
  padding: 18px 20px;
  margin-top: 20px;
  line-height: 26px;
  font-size: 16px;
  border-radius: 7px;
  margin-bottom: 30px;
  max-width: 90%;
  min-width: 100px;
  width: auto;
  position: relative;
  background: teal;
}
.message::after {
  content: '';
  z-index: 100;
  position: absolute;
  top: -40px;
  right: 10px;
  width: 0;
  height: 0;
  border-right: 25px solid transparent;
  border-top: 25px solid transparent;
  border-left: 25px solid transparent;
  border-bottom: 25px solid teal;
}

/* Media screen size */
@media screen and (min-width: 768px) {
  .opts-large {
    display: flex !important;
    transition: all 0.3s;
  }
  .navBar button {
    display: none;
  }

  .navBar .links {
    height: auto;
    display: flex;
  }

  .navBar li {
    padding: 0 15px;
  }
}

/* cards */
.credit-card-box .panel-title {
  display: inline;
  font-weight: bold;
}
.credit-card-box .form-control.error {
  border-color: red;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}
.credit-card-box label.error {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.credit-card-box .payment-errors {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.credit-card-box label {
  display: block;
}
/* The old "center div vertically" hack */
.credit-card-box .display-table {
  display: table;
}
.credit-card-box .display-tr {
  display: table-row;
}
.credit-card-box .display-td {
  display: table-cell;
  vertical-align: middle;
  width: 50%;
}
/* Just looks nicer */
.credit-card-box .panel-heading img {
  min-width: 180px;
}
